<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<settings version="1">

    <section id="plugin.video.invidious">

        <!-- Instance -->
        <category id="instance" label="41000">

            <group id="connection" label="41100">

                <setting id="selectInstance" type="action" label="41111" help="41112">
                    <level>0</level>
                    <data>RunScript($ID,selectInstance)</data>
                    <control type="button" format="action" />
                </setting>

                <setting id="instance.uri" type="string" label="41110">
                    <level>0</level>
                    <default />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>

                <setting id="instance.path" type="string" label="41120">
                    <level>0</level>
                    <default>api/v1</default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>

                <setting id="instance.proxy" type="boolean" label="41130">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>

                <setting id="session.timeout" type="number" label="41140">
                    <level>0</level>
                    <default>10.0</default>
                    <constraints>
                        <minimum>0.0</minimum>
                        <step>10.0</step>
                        <maximum>120.0</maximum>
                    </constraints>
                    <control type="slider" format="number" />
                </setting>

            </group>

            <group id="regional" label="14222">

                <setting id="selectLocale" type="action" label="41210">
                    <level>0</level>
                    <data>RunScript($ID,selectLocale)</data>
                    <control type="button" format="action" />
                </setting>

                <setting id="regional.locale" type="string" label="41211">
                    <level>0</level>
                    <default>en-US</default>
                    <visible>false</visible>
                    <control type="edit" format="string" />
                </setting>

                <setting id="regional.locale.text" type="string" label="41211">
                    <level>0</level>
                    <default>English (US)</default>
                    <enable>false</enable>
                    <control type="edit" format="string" />
                </setting>

                <setting id="selectRegion" type="action" label="41220">
                    <level>0</level>
                    <data>RunScript($ID,selectRegion)</data>
                    <control type="button" format="action" />
                </setting>

                <setting id="regional.region" type="string" label="41221">
                    <level>0</level>
                    <default>US</default>
                    <visible>false</visible>
                    <control type="edit" format="string" />
                </setting>

                <setting id="regional.region.text" type="string" label="41221">
                    <level>0</level>
                    <default>United States</default>
                    <enable>false</enable>
                    <control type="edit" format="string" />
                </setting>

            </group>

        </category>

        <!-- Search -->
        <category id="search" label="137">

            <group id="history" label="42100">

                <setting id="search.history" type="boolean" label="42110">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>

            </group>

            <group id="queries" label="42200">

                <setting id="query.type" type="integer" label="42210">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <options>
                            <option label="42230">0</option>
                            <option label="42211">1</option>
                            <option label="42212">2</option>
                            <option label="42213">3</option>
                            <option label="42214">4</option>
                            <option label="42215">5</option>
                            <option label="42216">6</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string" />
                </setting>

                <setting id="query.sort" type="integer" label="42220">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <options>
                            <option label="42230">0</option>
                            <option label="42221">1</option>
                            <option label="42222">2</option>
                            <option label="42223">3</option>
                            <option label="42224">4</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string" />
                </setting>

            </group>

        </category>

        <!-- Interface -->
        <category id="interface" label="43000">

            <group id="home" label="43100">

                <setting id="home.feed" type="boolean" label="30100">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>

                <setting id="home.popular" type="boolean" label="30200">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>>

                <setting id="home.trending" type="boolean" label="30300">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>

                <setting id="home.settings" type="boolean" label="5">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>

            </group>

            <group id="context" label="43200">

                <setting id="ytdlp.warning" type="action" label="43211">
                    <level>0</level>
                    <control type="button" format="action">
                        <hidevalue>true</hidevalue>
                    </control>
                    <dependencies>
                        <dependency type="visible" on="property" name="infobool" operator="!is">System.AddonIsEnabled(service.yt-dlp)</dependency>
                    </dependencies>
                </setting>

                <setting id="context.fromyoutube" type="boolean" label="43210">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                    <dependencies>
                        <dependency type="enable" on="property" name="infobool" operator="is">System.AddonIsEnabled(service.yt-dlp)</dependency>
                    </dependencies>
                </setting>

                <setting id="ytdlp.settings" type="action" label="43212">
                    <level>0</level>
                    <data>Addon.OpenSettings(service.yt-dlp)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                    <dependencies>
                        <dependency type="enable" on="property" name="infobool" operator="is">System.AddonIsEnabled(service.yt-dlp)</dependency>
                        <dependency type="visible" setting="context.fromyoutube" operator="is">true</dependency>
                    </dependencies>
                </setting>

                <setting id="context.withyoutube" type="boolean" label="43220">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>

            </group>

        </category>

    </section>

</settings>
