<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>

    <!-- General -->
    <category label="30101">

        <setting id="instance" label="30102" type="text"
                 default="invidio.us" />

        <setting id="selectInstance" label="30105" type="action"
                 action="RunScript(plugin.video.invidious,selectInstance)" />

        <setting id="path" label="30103" type="text"
                 default="api/v1" />

        <setting id="ssl" label="30104" type="bool"
                 default="true" />

    </category>

    <!-- Feed management -->
    <category label="30111">

        <setting id="feed_len" label="30112" type="slider"
                 range="1,1,30" option="int" default="5" />

        <setting id="removeChannelsFromFeed" label="30113" type="action"
                 action="RunScript(plugin.video.invidious,removeChannelsFromFeed)" />

    </category>

</settings>
